*{ 
padding: 0;
margin: 0;
box-sizing: border-box;


}
body{
  background-color: black;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}


.contenedor { 
  background-color: black;
  display: flex;
  justify-content: center ;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  perspective: 700px;


 }
.tarjeta { 
  width: 20rem;
  height: 25rem;
  position: relative;
  transform-style: preserve-3d;
  animation-name: ingreso-tarjeta;
  animation-duration: .8s;
  animation-fill-mode: backwards;
  /* overflow: hidden; */
}


.tarjeta:hover .lado-A { 
  transform: rotateY(180deg);
}

.tarjeta:hover .lado-B { 
  transform: rotateY(360deg);
}

  
[class*="lado"]{ 
  width: 100%;
  height: 100%;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;
  transition: transform .5s;

  display: flex;
  justify-content: center ;
  align-items: center;

  color: whitesmoke;

  background-position:center;
  background-size: cover;
}

.lado-A-imagen1 { 
  background-image: url(Frut_1.png);
}


.lado-A-imagen2 { 
  background-image: url(frut_2.png);
}


.lado-A-imagen3 {
  background-image: url(frut_3.png);
}
  
.lado-B{
  transform:rotateY(180deg);
}

.lado-B-imagen1 { 
  background-image: url(Ham_1.png);
}

.lado-B-imagen2 { 
  background-image: url(Ham_2.png);
}

.lado-B-imagen3 { 
  background-image: url(Ham_3.png);
}

.tarjeta:nth-of-type(1){
  /* animation-delay: .2s; */
} 
.tarjeta:nth-of-type(2n){
  animation-delay: .2s;
} 
.tarjeta:nth-of-type(3n){
  animation-delay: .4s;
} 
  

@keyframes ingreso-tarjeta {

  0% {  transform: translateZ(600px) rotateY(80deg) rotateX(80deg) rotateX(20deg);
    
    opacity: 0;
    
  }
  50% { 

    opacity: 1;


    }

  100% { 
    transform: rotateY(0);

  }

}


        

     